// createProperty.scss

form {

  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #333;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea,
select {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #2a9d8f;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
  color: #555;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #2a9d8f;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21867a;
}

.imagePreviewContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.imagePreviewContainer img {
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
