.homepage {
    .textcontent{
        flex:3;
    }
    .imgcontent{
        flex: 2;
        background-color: #fdeecf;

        img {
            width:60px;
            height: 100px;
        }

    }
}