.sidebar{
    background-color: #8888;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 3rem;
    width: 15rem;
    height: 100vh;

    .logoContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .title {
            font-size: 3rem;
            color: #fff;
            padding-left: 1rem;
        }

    }
    .burgerContainer{
        content: "";
        position: absolute;
        right: calc(-35px/2);
        width: 35px;
        height: 35px;
        border-radius: 2rem;
        z-index: 1 ;

        .burgerTrogger{
            height: 35px;
            width: 35px;
            content: "";
            cursor: pointer;
            z-index: 2;
            opacity: 0;
            background-color: red;
        }
        .burgerMenu{
            height: 20px;
            width: 3px;
            content: "";
            cursor: pointer;
            z-index: 1;
            opacity: 0;
            background-color: #fff;
            bottom: calc(35/2);
            left: 0.45rem; 
        }
        .burgerMenu::after {
            content: "";
            background-color: #fff;
            position: absolute;
            width: 20px;
            height: 3px;
            background-repeat: 2rem;
            top: 0.4rem;
            transform: translateY(0.4rem) rotate(-45deg);
        }
        .burgerMenu::before {
            content: "";
            background-color: #fff;
            position: absolute;
            width: 20px;
            height: 3px;
            background-repeat: 2rem;
            top: -0.4rem;
        }
    }
    .burgerContainer::after{
        content: '';
        position: absolute;
        right: 35px;
        top: calc(35px / 2);
        z-index: 0;
        width: calc(6rem + 15rem);
        background-color: #876487;
    }
    .profileContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem 0 0 0;

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
        .profileContent {
            padding-left: 1rem;

            .name{
                padding: 0;
                margin: 0;
                font-size: 16px;
                color: #fff;
                text-transform: capitalize;
                font-weight: 800;
            }
            p {
                padding: 0;
                margin: 0;
                font-size: 13px;
                color: #fff;
                text-transform: lowercase;
            }
        }
    }
    .navContainer {
        margin: 2rem 0 0 0;

        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                margin: 0.75rem 0;
                padding: 0.7rem 0;
                width: 100%;
                border-radius: 1rem;

                .icon {
                    padding: 0 1rem 0 0.5rem;
                }
                Link {
                    color: #fff;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 0 0 0.5rem;
                    cursor: pointer;
                }
            }
            li.active {
                background-color: #64a4b4;
            }
            li:hover {
                background-color: #b17e7e;
                transition: 0.25s all;
            }
        }
    }
}
.sidebar.active {
    width: 3rem;

    .logoContainer.active {
        h2.title {
            opacity: 0;
        }
    }
    .burgerContainer.active {
        .burgerMenu {
            background-color: #fff;
        }
    }
    .burgerMenu::before {
        transform: translateY(0rem) rotate(0deg);
    }
    .burgerMenu::after {
        transform: translateY(0rem) rotate(0deg);
    }
    .profileContainer {
        .profileContent{
            opacity: 0;
        }
    }
    .navContainer {
        Link {
            opacity: 0;
        }

    }
}